*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #f4f6fa;
    --bg-moblie: url(./assets/images/pattern-background-mobile-light.svg);
    --purple: #a729f5;
    --white: #fff;
}

body{
    height: 100svh;
    background: var(--bg-moblie) var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 16px 24px;
    display: flex;
    justify-content: flex-end;
}

.tema{
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tema img{
    width: 16px;
}

.tema button{
   height: 20px;
   width: 32px;
   background: var(--purple);
   border: none;
   border-radius: 999px;
   padding: 4px;
}

.tema button div{
    background: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

main{
    padding: 32px 24px;
    
}